div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div a {
  background-color: #f0f0f0;
  padding: 0.3rem 1rem;
  margin: 0.2rem .15rem;
  border-radius: 15rem;
  font-weight: 600;
  color: #288994;
}
